[submodule "chef/cookbooks/apt"]
	path = chef/cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "chef/cookbooks/php"]
	path = chef/cookbooks/php
	url = https://github.com/opscode-cookbooks/php.git
[submodule "chef/cookbooks/beanstalkd"]
	path = chef/cookbooks/beanstalkd
	url = https://github.com/escapestudios-cookbooks/beanstalkd.git
[submodule "chef/cookbooks/mysql"]
	path = chef/cookbooks/mysql
	url = https://github.com/chef-cookbooks/mysql.git
[submodule "chef/cookbooks/nginx"]
	path = chef/cookbooks/nginx
	url = https://github.com/miketheman/nginx.git
